.App {
  position: relative;
  transform: translate(0%, 12%);
}

.heading-wrapper{
   position: relative;
   display: flex;
   justify-content: center;
}
.umn-heading {
  font-family: 'Georgia', serif;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  margin-top: 40px;
  color: #7A0019;
  position: absolute;
  top: -2px;
  transform: translate(0%, -100%);
}
.wordle-highlight {
  color: #FFCC33;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
}